<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('admin_static')}/css/style.css" rel="stylesheet" type="text/css" />
    <!--引用validate插件-->
    <script language="JavaScript" src="{:config('admin_static')}/js/jquery.js"></script>
    <script language="JavaScript" src="/static/plugins/jquery.validate.js"></script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
        label.error{
            color:red;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">表单</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">基本信息</span>
        </div>
        <form action="{:url('admin/category/add')}" id="theform" method="post">
            <ul class="forminfo">
                <li>
                    <label>分类名称</label>
                    <input name="cat_name" placeholder="请输入商品名称" type="text" class="dfinput" /><i></i>
                </li>
                <li>
                    <label>父分类</label>
                    <select name="pid" id="" class="dfinput">
                        <option value="">请选择</option>
                        <option value="0">顶级分类</option>
                        {foreach name="cats" item='cat'}
                            <option value="{$cat['cat_id']}">{:str_repeat('&nbsp;',$cat['level']*2)}{$cat['cat_name']}</option>
                        {/foreach}
                    </select>
                </li>
            </ul>
			<li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
             </li>
        </form>
    </div>
</body>
<script>
    $("#theform").validate({
        //定义验证规则
        rules:{
            //表单name值:规则(多个规则定义json格式)
            "cat_name":{
                "required":true,
                "minlength":5,
            },
            "pid":"checkPid"
        },
        //定义提示信息
        messages:{
            "cat_name":{
                "required":"分类名称必填",
                "minlength":"分类名称最少5个字符",
            }
        }
    });
    $.validator.addMethod('checkPid',function (value, ele, param) {
        console.log(value,ele,param);
        //value为当前验证元素的值
        //ele为当前验证元素的dom对象
        //调用自定义规则传入的参数
        //return true验证通过 return false验证失败
        // return ele.value ==''?false:true; //dom方式
        return $(ele).val() ==''?false:true;//jq对象方式

    },'必须选择一个分类');

</script>

</html>
